.fokep {
  display: flex;
  flex-direction: column;
}

.fokep .gombok {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

Button {
  padding: 20px;
}

.fokep img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}
